<section class="form-section">
    <h2>Connexion</h2>
    <form action="" method="get">
        <label for="">
            <input type="email" placeholder="E-mail" />
        </label>
        <label for="">
            <input type="password" name="" id="" placeholder="Mot de passe" />
        </label>
        <div class="sign-up-forget-password">
            <button type="submit">Se connecter</button>
            <p>ou</p>
            <button type="button">S'inscrire</button>
        </div>
        <button type="button" class="forget-password-btn">
            Mot de passe oublié
        </button>
    </form>
</section>
