<section class="user-profile-section">
    <article>
        <h2>Profil</h2>
        <div class="profile-div">
            <div class="btn-profile-div">
                <h3 type="button">Publications</h3>
                <h3 type="button">Évènements</h3>
            </div>
            <div class="data-profile-div">
                <p>Publications créé le 20/05/24</p>
                <p>Publications créé le 20/05/24</p>
                <p>Publications créé le 20/05/24</p>
                <p>Publications créé le 20/05/24</p>
                <p>Publications créé le 20/05/24</p>
                <p>Publications créé le 20/05/24</p>
                <p>Publications créé le 20/05/24</p>
            </div>
        </div>
    </article>
</section>

<!-- <form action="" method="get">
            <h2>Page de profil</h2>
            <fieldset>
                <div class="name-div input-div">
                    <div>
                        <img
                            src="../../assets/logo/user-solid.svg"
                            alt="logo utlisateur"
                        />
                    </div>
                    <label for="name"></label>
                    <input
                        type="name"
                        name="name"
                        id="name"
                        placeholder="Saisissez votre nom"
                    />
                </div>
                <div class="email-div input-div">                   

                    <label for="email"></label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Saisissez votre email"
                    />
                </div>
                <textarea
                    name="message"
                    id="message"
                    placeholder="Saisissez votre message"
                ></textarea>                
            </fieldset>
        </form> -->
