<main>
    <article class="container">
        <!--Section qui affiche le titre et la présentation du site-->
        <section class="presentation-section">
            <div class="presentation-div">
                <!-- <h1>Zoom alpin</h1> -->
                <div class="presentation-text">
                    <p>
                        <img
                            src="../../assets/pictures/chouette.jpg"
                            alt="chouette"
                        />
                        Bienvenue sur Zoom Alpin, le portail dédié à tous les
                        passionnés de photographie ornithologique en montagne.
                        Que vous soyez un amateur ou un photographe aguerri,
                        notre plateforme vous offre un espace unique pour
                        partager et découvrir des clichés exceptionnels
                        d'oiseaux capturés dans les majestueux massifs
                        montagneux. Avec Zoom Alpin, vous pouvez facilement
                        créer et publier vos propres articles, accompagnés de
                        vos plus belles photos et de descriptions détaillées.
                        Notre communauté vous permet de partager vos
                        expériences, d’échanger des conseils et de vous inspirer
                        des œuvres d’autres passionnés. Que vous soyez à la
                        recherche de nouveaux spots photographiques, de
                        techniques pour améliorer vos prises de vue ou
                        simplement de partager votre amour pour la nature et
                        l’ornithologie, Zoom Alpin est le lieu idéal pour vous.
                        Rejoignez-nous et contribuez à enrichir cette
                        merveilleuse collection de photographies ornithologiques
                        de montagne.
                    </p>
                </div>
            </div>
        </section>
        <!-- Section qui affiche les deux blocs Events et publications -->
        <section class="event-post-section">
            <div class="event-div">
                <h2>Évènements</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequatur repudiandae quaerat asperiores harum quos
                    quisquam ducimus, voluptatum aliquam. Recusandae itaque
                    nobis asperiores saepe tenetur necessitatibus quam
                    perferendis totam, voluptatem culpa.
                </p>
            </div>
            <div class="post-div">
                <h2>Publications</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Expedita id beatae repellat ex, iste voluptate error quidem
                    aliquam. Veniam amet consequatur doloribus adipisci quis
                    omnis nulla quasi, sapiente molestiae qui!
                </p>
            </div>
        </section>
    </article>
</main>
