@import '../../styles.scss';

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    animation: 2500ms fadeIn;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        // Section du titre et de la présentation du site
        .presentation-section {
            padding: 8em 0;
            .presentation-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    font-size: 2.5em;
                    font-weight: 600;
                    color: $kaki-color;
                    text-shadow: 2px 2px 2px $dark-kaki-color;
                }
                .presentation-text {
                    display: flex;
                    letter-spacing: 0.5px;
                    line-height: 2.5em;
                    p {
                        padding: 1.2em;
                        text-align: center;
                        font-size: 1.4em;
                    }
                }
                img {
                    max-width: 25em;
                    float: right;
                    margin: 0 0 1.5em 1.5em;
                }
            }
        }
        // Event / Post section
        .event-post-section {
            display: flex;
            height: 50vh;
            padding: 4em 0 8em 0;
            .event-div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 2em;
                background-color: aliceblue;
                width: 50%;
            }
            .post-div {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 2em;
                background-color: aliceblue;
            }
        }
    }
}

// Responsive du site
@media (max-width: 1024px) {
    main {
        article {
            .presentation-section {
                padding: 6em 0 0;
                .presentation-div {
                    .presentation-text {
                        p {
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        article {
            .presentation-section {
                padding: 0;
                .presentation-div {
                    .presentation-text {
                        p {
                            display: flex;
                            flex-direction: column-reverse;
                            align-items: center;
                            //padding: 0 1.2em 1.2em 1.2em;
                        }
                        img {
                            width: 90%;
                            float: none;
                            margin: 1.5em 0 0 0;
                        }
                    }
                }
            }
            .event-post-section {
                flex-direction: column;
                height: auto;
                padding: 4em 0;
                .event-div {
                    width: auto;
                }
                .post-div {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    main {
        article {
            .presentation-section {
                .presentation-div {
                    .presentation-text {
                        p {
                            padding: 0 1.2em 1.2em 1.2em;
                        }
                    }
                }
            }
        }
    }
}
