@import '../../styles.scss';

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

main {
    animation: 2500ms fadeIn;
    article {
        display: flex;
        flex-direction: column;
        align-items: center;

        // Section du titre et de la présentation du site
        .presentation-section {
            padding: 8em 0;
            .presentation-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                h1 {
                    font-size: 2.5em;
                    font-weight: 600;
                    color: $kaki-color;
                    text-shadow: 2px 2px 2px $dark-kaki-color;
                }
                .presentation-text {
                    display: flex;
                    letter-spacing: 0.5px;
                    line-height: 1.5em;
                    p {
                        padding: 1em;
                    }
                }
                img {
                    max-width: 25em;
                }
            }
        }
        .event-post-section {
            display: flex;
            height: 50vh;
            padding: 4em 0 8em 0;
            h2 {
            }
            .event-div {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 2em;
                background-color: aliceblue;
                width: 50%;
            }
            .post-div {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding: 2em;
                background-color: aliceblue;
            }
        }
    }
}

// Responsive du site
@media (max-width: 1024px) {
    main {
        article {
            .diaporama-section {
                img {
                    zoom: 30%;
                }
            }
        }
    }
}
