<main>
    <article>
        <!--Section qui affiche le titre et la présentation du site-->
        <section class="presentation-section container">
            <div class="presentation-div">
                <!-- <h1>Zoom alpin</h1> -->
                <div class="presentation-text">
                    <p>
                        Bienvenue sur le site Zoom alpin.<br />
                        Le portail qui rassemble tous les passionnés de
                        photographie ornithologiques en montagne.<br />
                        Vous pouvez partager avec les autres membres vos clichés
                        sous forme de publication.<br />
                        Cet espace vous propose également de créer des évènemnts
                        pour donnez-vous à d'autres personnes qui partagent
                        votre passion.
                    </p>
                    <img
                        src="../assets/pictures/Chouette_Tengmalm_02.jpg"
                        alt=""
                    />
                </div>
            </div>
        </section>
        <!-- Section qui affiche les deux blocs Events et publications -->
        <section class="event-post-section container">
            <div class="event-div">
                <h2>Évènements</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consequatur repudiandae quaerat asperiores harum quos
                    quisquam ducimus, voluptatum aliquam. Recusandae itaque
                    nobis asperiores saepe tenetur necessitatibus quam
                    perferendis totam, voluptatem culpa.
                </p>
            </div>
            <div class="post-div">
                <h2>Publications</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Expedita id beatae repellat ex, iste voluptate error quidem
                    aliquam. Veniam amet consequatur doloribus adipisci quis
                    omnis nulla quasi, sapiente molestiae qui!
                </p>
            </div>
        </section>
    </article>
</main>
