@import '../styles.scss'; // Variables d'ombres

.app-section {
    height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 2500ms ease-in-out;
    div {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 7em;
        }
    }
}
.app-section.visible {
    opacity: 1;
}

.app-section.invisible {
    opacity: 0;
}
