<header>
    <div class="logo-div">
        <a href="/home">
            <img src="../assets/logo/logo_zoom_alpin-.png" alt="" />
        </a>
    </div>

    <nav>
        <ul>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Evènements</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Profil</a></li>
            <li><a href="/login">login</a></li>

            <!-- <li><a routerLink="/login">Login</a></li> -->

            <li>
                <a href="#"
                    ><img src="../assets/logo/logo-instagram.png" alt=""
                /></a>
                <a href="#"><img src="../assets/logo/logo-fb.png" alt="" /></a>
            </li>
        </ul>
    </nav>
</header>
