<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
        <div class="container-fluid w-100">
            <a class="navbar-brand" routerLink="/home"
                ><img src="../../assets/logo/logo_zoom_alpin-2.png" alt=""
            /></a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse justify-content-lg-end"
                id="navbarNavDropdown"
            >
                <ul
                    class="navbar-nav justify-content-lg-around align-items-center"
                >
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Évènements
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Liste des évènements</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Créer un évènement</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            Publication
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Liste des publications</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Ajouter une publication</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a
                            routerLink="/contact"
                            class="nav-link active"
                            aria-current="page"
                            >Contact</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/user-profile"
                            >User Profile</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login"
                            ><img
                                class="user-icon-img"
                                src="../../assets/logo/user-solid.svg"
                                alt="logo utilisateur"
                        /></a>
                    </li>
                    <li class="social-network-li">
                        <a href="#"
                            ><img
                                class="nav-social-network-img"
                                src="../assets/logo/logo-instagram.png"
                                alt="logo logo-instagram"
                        /></a>
                        <a href="#"
                            ><img
                                class="nav-social-network-img"
                                src="../assets/logo/logo-fb.png"
                                alt="logo-facebook"
                        /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Section qui affiche le diaporama d'images-->
    <section class="diaporama-section">
        <div class="diaporama-container-div">
            <img
                *ngFor="let image of images; let i = index"
                [src]="image"
                [alt]="'Image ' + (i + 1)"
                [style.opacity]="i === 0 ? 1 : 0"
                [id]="'image-' + i"
            />
        </div>
    </section>
    <!-- modale / formulaire de contact -->
    <div #modalElement class="popup modal" id="popup">
        <div class="popup-inner">
            <div class="popup__photo">
                <img
                    src="https://images.unsplash.com/photo-1515224526905-51c7d77c7bb8?ixlib=rb-0.3.5&s=9980646201037d28700d826b1bd096c4&auto=format&fit=crop&w=700&q=80"
                    alt=""
                />
            </div>
            <div class="popup__text">
                <h2>Pour nous contacter</h2>
                <form action="https://formspree.io/f/moqgojbd" method="POST">
                    <div class="form-adress-div">
                        <p>
                            Dissonance Studio <br />
                            350 route des pacaliers <br />
                            26190 Saint-Laurent en Royans
                        </p>
                        <div>
                            <a href="mailto:"
                                ><i class="fa-solid fa-envelope"></i> adresse
                                email</a
                            >
                            <a href="tel:">
                                <i class="fa-solid fa-phone"></i
                                >06.82.07.65.07</a
                            >
                        </div>
                    </div>
                    <label for="name">
                        <input
                            required
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Saisissez votre nom"
                        />
                    </label>
                    <label for="email">
                        <input
                            required
                            type="email"
                            name="email"
                            placeholder="Saisissez votre Email"
                        />
                    </label>
                    <label for="message">
                        <textarea
                            required
                            name="message"
                            placeholder="Saisissez votre message"
                        ></textarea>
                    </label>
                    <button type="submit" name="submit">Envoyer</button>
                </form>
            </div>
            <a class="popup__close" href="/home">X</a>
        </div>
    </div>
</header>
