@import '../../styles.scss';

// Variables de couleurs
$kaki-color: #939661;
$orange-color: #d87c4a;
$dark-kaki-color: #665c55;
$dark-color: #3f3f3f;
$black-color: #050408;

// Variables d'ombre
$box-shadow: 2px 2px 15px black;
$box-shadow-orange: 2px 5px 15px #d87c4a;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Header => logo / Menu / barre de navigation
header {
    nav {
        position: fixed !important;
        top: 0;
        z-index: 100;
        .nav-item-login {
            display: none;
        }

        div {
            a {
                img {
                    max-width: 7em;
                }
            }
            div {
                .navbar-nav {
                    width: 60%;
                    li {
                        position: relative;
                    }
                    .nav-item {
                        transition: 1000ms ease;
                    }
                    .nav-item::before {
                        content: '';
                        width: 0%;
                        top: 1.5em;
                        left: 0;
                        border-bottom: 3px solid #050408;
                        position: absolute;
                        transition: width 1000ms ease;
                    }

                    li:nth-child(1):hover::before,
                    li:nth-child(2):hover::before,
                    li:nth-child(3):hover::before,
                    li:nth-child(4):hover::before {
                        width: 100%;
                        border-color: $orange-color;
                    }
                }
            }
        }
    }
}
.dropdown-menu {
    top: 2.5em;
    li {
        a {
            height: auto;
            padding: 0.5em;
        }
    }
}

.user-icon-img {
    height: 2em;
    transition: all 500ms ease;
}
.user-icon-img:hover {
    transform: scale(1.1);
    opacity: 0.7;
}
.nav-social-network-img {
    height: 2em;
    transition: all 500ms ease;
}

.social-network-li img:hover {
    transform: scale(1.1);
}
.social-network-li {
    display: flex;
    column-gap: 1em;
}
.dropdown-menu li {
    border-bottom: none;
}

// Section du diaporama d'images
.diaporama-section {
    .diaporama-container-div {
        position: relative;
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: opacity 2000ms ease;
        }
        .diaporama-container-div img:first-child {
            opacity: 1;
        }
    }
}

// Gestion de la responsive
@media (max-width: 1260px) {
    .navbar-nav {
        width: 100% !important;
        row-gap: 1em;
    }
}

@media (max-width: 1025px) {
    header {
        height: auto;
        .diaporama-section {
            height: auto;
            .diaporama-container-div {
                height: 70vh;
            }
        }
        .login-nav {
            display: none;
        }
        nav {
            .nav-item-login {
                display: block;
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .diaporama-section {
            .diaporama-container-div {
                //height: 60vh;
                img {
                    object-fit: contain;
                }
            }
        }
    }
}

@media (max-width: 380px) {
    header {
        .diaporama-section {
            .diaporama-container-div {
                height: 40vh;
                img {
                    object-fit: contain;
                }
            }
        }
    }
}
