@import '../../styles.scss';

// Header => logo / Menu / barre de navigation
header {
    box-shadow: $box-shadow;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;
        align-items: center;
        //height: 6em;
        img {
            width: 11em;
        }
    }
    nav {
        width: 45%;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                font-size: 1.1em;
                a {
                    color: $dark-color;
                }
                a:nth-child(1) {
                    img {
                        margin-right: 0.5em;
                    }
                }
                img {
                    width: 2em;
                }
                a:hover {
                    color: $orange-color;
                }
            }
        }
    }
}

// Gestion de la responsive

@media (max-width: 1024px) {
    header {
        nav {
            width: 75%;
        }
    }
}

@media (max-width: 768px) {
    header {
        nav {
            ul {
                li:nth-child(1),
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4) {
                    display: none;
                }
            }
        }
    }
}
