@import '../../styles.scss';

.welcome-section {
    z-index: 3;
    height: 100vh;
    display: flex;
    opacity: 0.1;
    flex-direction: column;
    justify-content: center;
    div {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 7em;
        }
    }
}
